/* Estilos para el componente Acceso */

.acceso {
    display: flex;
    justify-content: space-between;
    margin-top: -100px;
}
  
.izquierda, .derecha {
    width: 65%;
    height: 100%;
}
  
.imagen-derecha {
    margin-bottom: 20px;
}
  
.campos2 {
    display: flex;
    margin-bottom: 10px;
    height: 50px;
}

.campo2 {
    padding: 18px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.campos2 input[type="text"] {
    width: 250px;
}

.campos2 select, .campos2 input[type="text"], .campos2 label {
    margin-bottom: 10px;   
}

.campos2 select {
    width: 180px;
}

.campos2 input[type="text"], .campos2 select {
    border-radius: 5px;
    border: 1px solid #ccc;
    height: 50px;
}

/* Estilos para los campos en la sección derecha */


.campos {
    display: flex;
    flex-direction: column;
    height: 50px;
}

.campos select, .campos .celular, .campos label {
    margin-bottom: 10px;
    height: 50px;
}

.campos select {
    width: 80px;
}

.campos .celular, .campos select {
    padding: 18px;
    border-radius: 5px;
    border: 1px solid #ccc;
    height: 50px;
}

.campos button {
    padding: 25px 40px;
    border-radius: 60px;
    border: none;
    background-color: #333;
    color: white;
    cursor: pointer;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    width: 50%;
}

.campos a {
    margin-top: 10px;
    color: #333;
    text-decoration: underline; 
    margin-bottom: 20px;
}

/* Estilos para los checkbox */
.campos label {
    display: flex;
    align-items: center;
}

.campos input[type="checkbox"] {
    margin-right: 10px;
    background-color: #333;
}
